body {
    margin: 0;
    padding: 0;
}

#encabezado {
    height: 50px;
    background-color: yellow;
}

.encabezado-izquierdo, .encabezado-derecho {
    height: 100%;
    background-color: yellow;
}

.encabezado-izquierdo {
    width: 28%;
    border-right: solid 1px black;
    float: left;
}

.separador {
    width: 2%;
    height: 100%;
    float: left;
}

.encabezado-derecho {
    width: 70%;
    border-left: solid 1px black;
    float: right;
}

#contenido {
    clear: both;
    height: 300px;
}

.barra-lateral {
    width: 28%;
    height: 100%;
    float: left;
    padding-top: 2%;
}

.barra-roja {
    height: 50%;
    border: solid 1px black;
    background-color: red;
}

.barra-derecha {
    height: 100%;
    width: 70%;
    padding-top: 2%;
    float: right;
}

.contenido-principal {  
    height: 66%;
    background-color: green;
}

.pie {
    clear: both;
    margin-top: 4%;
    height: 30%;
    background-color: blue;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 16px;
}

h1 span {
    text-transform: lowercase;
    text-decoration: none;
    color: blueviolet;
}

.imagen-principal {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}
